aniso8601==8.0.0
click==7.1.2
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pytz==2020.1
six==1.15.0
SQLAlchemy==1.3.18
Werkzeug==1.0.1
pip~=21.1.1
wheel~=0.36.2
openssl~=1.1.1k
cryptography~=3.4.7
setuptools~=52.0.0
vosk~=0.3.29
sounddevice~=0.4.1
nltk~=3.6.2
numpy~=1.19.5
tensorflow~=2.5.0
tflearn~=0.5.0